<!DOCTYPE html>
{% set local = app.request.get('_locale') %}
<html lang="{{ local }}">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>{% block title %} bookingCar.ma {% endblock %}</title>
    {% block stylesheet %}
        <link href="{{ asset('bundles/index/css/bootstrap/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/index/css/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/index/css/custom.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/index/css/languages.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/index/css/app.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/index/css/flag/css/flag-icon.min.css') }}" rel="stylesheet" />
    {% endblock %}


</head>
<body>
{% include 'IndexBundle:common:menu.html.twig' %}
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info" id="alert-info">
                    <strong>{{ 'offer.information'|trans }}</strong>
                    {{ flashMessage|trans }}
                </div>
            {% endfor %}
            {% for flashMessage in
            app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <strong>{{ flashMessage }}</strong>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="row" style="border-bottom:1px hidden #d9d9d9;height: 30px;">
                <div class="text-right" style="padding: 3px 18px 3px 3px">
                    <span class="label label-warning">Casablanca {{ "now"|date("H:i", "Africa/Casablanca") }}</span>
                    <span class="label label-success">NYC {{ "now"|date("H:i", "America/New_York") }}</span>
                    <!--<span class="label label-default">Paris {{ "now"|date("H:i", "Europe/Paris") }}</span>-->
                    <span class="label label-primary">Paris {{ "now"|date("H:i", "Europe/Paris") }}</span>
                    <span class="label label-danger">Moscow {{ "now"|date("H:i", "Europe/Moscow") }}</span>
                    <span class="label label-info">Istanbul {{ "now"|date("H:i", "Asia/Istanbul") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        {% block contenu %}
        {% endblock %}
    </div>
    {% block footer %}
        {% include 'IndexBundle:common:footer.html.twig' %}
    {% endblock %}
    {% block javascript %}
        <script src="{{ asset('bundles/index/js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('bundles/index/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/index/js/custom.min.js') }}"></script>
        <script src="{{ asset('bundles/index/js/app.js') }}"></script>
        <script src="{{ asset('bundles/index/js/map.js') }}"></script>

    {% endblock %}
</div>
</body>
</html>